<header class="top-section">
  <div class="brand">
    <div>
      <img src="../assets/logo.png" alt="LOGO" />
    </div>
    <div>
        <p class="brand-title">E-Library Portal</p>
        <p class="brand-subtitle">Everything you need.</p>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <img src="../../assets/imgs/not_found_image.png" class="img" alt="Page Not Found"/>
    <p class="title extra-bold">PAGE NOT FOUND</p>
    <p class="extra-large extra-bold">404 ERROR</p>

    <a class="button" (click)="goBack()"><span class="icon"><i class="fas fa-arrow-left"></i></span> Go Back</a>
  </div>
</main>


