<header class="top-section">
  <div class="brand">
      <div>
          <img src="../assets/logo.png" alt="LOGO" />
      </div>

      <div>
          <p class="brand-title">E-Library Portal</p>
          <p class="brand-subtitle">Everything you need.</p>
      </div>
  </div>
</header>

<main>
  <div class="container" *ngIf="!showSuccessMessage">
    <h2 class="title">Forgot your password?</h2>
    <p class="subtitle">Enter your email address below and we will send you a password reset link. Just follow the link and 
      set your new password to re-gain full access to your account.
    </p>

    <!--
      error message
    -->
    <div class="message message-danger has-close" [ngClass]="{'hidden': !is_err_visible}">
      <div class="message-text">
          {{errorMessage}}
      </div>
      <div class="close-btn">
          <a (click)="toggleErrMessage()"><span class="icon"><i class="fas fa-times-circle"></i></span></a>
      </div>
  </div>

  <!--
    email input box
  -->

    <div class="form-control-group">
      <div class="input">
        <input type="text" [(ngModel)]="email" class="form-control" placeholder="email" />
      </div>
      <div class="btn">
        <button type="button" class="button button-primary" (click)="sendCode()">Send Code</button>
      </div>
    </div>
    <a routerLink="/login"><span class="icon"><i class="fas fa-arrow-circle-left"></i></span> Back to login</a>
  </div>

  <!--
    success message
  -->

  <div class="container" *ngIf="showSuccessMessage">
      <h2 class="title">Link sent successfully.</h2>
      <p class="subtitle">We've send the password reset link to the email you have provided. If you haven't received an email yet then 
        check your spam folder. It may take up to 5 minutes to receive the email.
      </p>

      <button class="button button-primary" (click)="resendClick">Resend Code</button>
    </div>
</main>
