<header class="top-section">
  <div class="brand">
      <div>
          <img src="../assets/logo.png" alt="LOGO" />
      </div>

      <div>
          <p class="brand-title">E-Library Portal</p>
          <p class="brand-subtitle">Everything you need.</p>
      </div>

  </div>
</header>

<main>
  <div class="container">
    <p class="extra-large">Terms &amp; Conditions</p>
    <p class="title" style="font-weight: 600;">1. Acceptance of the Terms of Use</p>
    <p class="disc">
      You will need to provide a valid email address in order to use the system. An email with the verification link will be sent to the provided email address. 
      Once you verified your email, you can delete your account at any time and your email will be permanently removed from our database. We only ask you to provide 
      your genuine email address for verification purpose. And your email address won't be used for any other proposes.
    </p>
    <p class="subtitle">Data Storage</p>
    <p class="disc">
      E-library uses Google <strong>Cloud Firestore</strong>, a cloud based realtime Database, to store user's data (browsed items, history and saved items). <strong>It is to note that all the data will 
      be permanently deleted at 11:59 pm UTC, everyday or two.</strong> This will include the user information (email) and all other user contents (borrowed items, saved items and history). 
      Further information about Cloud Firestore can be found <a href="https://firebase.google.com/products/firestore/" target="_blank">here</a>.
    </p>

    <p class="title" style="font-weight: 600;">2. Technologies and Services</p>
    <p class="disc">
      E-library is built with <strong>Angular 8</strong> and <strong>Google Firebase</strong>. By using E-library portal, you automatically agree their respected terms and conditions. The following 
      is a complete list of external libraries and services used in this project.
    </p>

    <p class="subtitle">AngularFire</p>
    <p class="disc">
      AngularFire is the official library for Firebase and angular. It offers various services like Firebase Cloud Firestore, Firebase Authentication, Firebase Storage and so on and 
      synchronize data in real time. A complete documentation for AngularFire is available <a href="https://github.com/angular/angularfire2" target="_blank">here</a>.
    </p>

    <p class="subtitle">Google Books</p>
    <p class="disc">
      Google Books, previously known as Google Book Search and Google Print, is a service from Google Inc. that searches the full text of books and magazines that Google has scanned. The terms of service 
      for Google Books is availabe <a href ="https://developers.google.com/books/terms" target="_blank">here</a>.
    </p>

    <p class="subtitle">Font Awesome</p>
    <p class="disc">
      Font Awesome is one of the world's most popular icon set and toolkit. It offers a free version and a pro version. This project uses free version of Font Awesome.
    </p>

    <p class="subtitle">Single Element CSS Spinners</p>
    <p class="disc">
      Single Element CSS Spinners is a collection of various spinners built with pure CSS, created by <a href="https://twitter.com/lukehaas" target="_blank">@lukehaas</a>. You can check the project on 
      <a href="https://github.com/lukehaas/css-loaders" target="_blank">Github</a> and a live demo <a href="https://projects.lukehaas.me/css-loaders/">here</a>.
    </p>

    <p class="title" style="font-weight: 600;">3. Intellectual Property</p>
    <p class="disc">
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of 
      the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted 
      parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind 
      text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks 
      and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first 
      hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.
    </p>

    <p class="title" style="font-weight: 600;">4. Another Title</p>
    <p class="disc">
        One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he 
        lifted his head a little he could see his brown belly. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with 
        the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, 
        lay peacefully between its four familiar walls.
    </p>

    <p class="subtitle">Access</p>
    <p class="disc">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
      ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, 
      arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
    </p>

        <ul class="disc">
          <li>
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
            Nulla consequat massa quis enim.
          </li>
          <li>
            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks 
            and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
          </li>
          <li>
            She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first 
            hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.
          </li>
        </ul>
  </div>
</main>

<footer>
  <div class="container">
    <div class="footnote" style="border-top: none;padding-top: 0rem;">
      <p>E-library portal. <i class="far fa-copyright"></i> 2019. Built with <span class="icon"><i class="fab fa-angular"></i></span>.</p>
    </div>
  </div>
</footer>
