@import './variables';

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collapsible-menu{
    .mobile-menu-icon{
        text-align: right;
        color: white;
        text-shadow: 1px 0px 1px rgba(0,0,0,0.5);
    }

    .menu-items{
        a{
            font-weight: $light;
            display: block;
            color: #c44100;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            padding: 0.5rem 0rem !important;
        }
    }
}

.dropdown{
    position: relative;
    .content{
        min-width: 250px;
        position: absolute;
        top: 130%;
        right: 0;
        border: 1px groove rgba(0,0,0,0.2);
        border-radius: 0.3rem;
        padding: 1rem;
        background: white;

        &::before{
            display: block;
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border: 1px groove rgba(0,0,0,0.2);
            top: -6px;
            right: 10px;
            transform: rotate(45deg);
            background: white;
            border-bottom: none;
            border-right: none;
        }
    }
}

.form-control{
    &[type=text], &[type=email], &[type=password]{
        width: 100%;
        padding: 0rem 0.5rem;
        line-height: 2.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        border: 1px groove rgba(0,0,0,0.2);
        border-radius: 0.4rem;
    }
}

.form-control-group{
    display: flex;
    flex-direction: row;
    .input{
        flex: 1 auto;
       .form-control{
            height: 2.5rem;
            border-top-right-radius: 0rem !important;
            border-bottom-right-radius: 0rem !important;
        } 
    }
    .btn{
        flex: 0 auto;
        .button{
            margin: 0rem !important;
            height: 2.7rem;
            border-top-left-radius: 0rem !important;
            border-bottom-left-radius: 0rem !important;
        }
    }  
}

.search-box{
    .form-control{
        margin-bottom: 0rem;
        border-radius: 2rem;
        padding-left: 1rem;
        border-right: none;
    }

    .button{
        border-left: none;
        height: 2.5rem !important;
        border-radius: 2rem;
    }
}

.form{
    .label{
        font-weight: $label-font-weight;
        font-size: $label-font-size;
    }

    width: 95%;

    &-login{
        width: 100%;
        margin: auto;
        text-align: center;
        
        div{
            margin-bottom: 1rem;
        }
        .form-control{
            margin-bottom: 0rem;
            border: 3px solid rgba(0,0,0,0.3);
            border-radius: 1.5rem;
            text-align: center;
            width: 80%;
            transition: width 0.2s;    
            &:focus{
                width: 90%;
            }
        }
        .forgot-password {
            text-align: right;
            margin-right: 10%;
            a{
                color: $danger;
            }
        }
    }

    
}

.button{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    border: 1px groove rgba(0,0,0,0.2);
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;

    &-primary{
        background: $primary;
        color: white;
    }

    &-danger{
        background: $danger;
        color: white;
    }

    &-success{
        background: $success;
        color: white;
    }


}

.message{

    margin-bottom: 1rem;
    .message-text{
        padding: 1rem;
        border-radius: 0.5rem;
    }


    &.has-close{
        display: flex;
        flex-direction: row;

        .message-text{
            flex: 0 auto;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }


        .close-btn{
            flex: 0 auto;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            padding: 1rem;
        }
    }

    &-primary{
        .message-text{
            background: $primary;
            color: white;
        }
        .close-btn{
            background: $primary;
            a{
                color: white;
            }
        }
    }

    &-danger{
        .message-text{
            background: $danger;
            color: white;
        }
        .close-btn{
            background: $danger;
            a{
                color: white;
            }
        }
    }

    &-success{
        .message-text{
            background: $success;
            color: white;
        }
        .close-btn{
            background: $success;
            a{
                color: white;
            }
        }
    }
}

.brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-title{
        font-weight: $bold;
        padding-left: 1rem;
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    &-subtitle{
        font-weight: $light;
        padding-left: 1rem;
        font-size: 0.8rem;
    }

}

.footnote{
    font-size: 0.8rem;
    font-weight: $light;
    color: rgba(0,0,0,0.4);
}

.warning{
    color: $danger;
    font-weight: $light;
    font-size: 0.8rem;
    margin-bottom: 1rem;

    ul, ol{
        list-style: disc;
        margin-left: 2rem;
    }
}

.fancy-title{
    position: relative;
    text-align: center;
    margin-top: 1rem;

    &::before{
        position: absolute;
        content: "";
        width: 40%;
        height: 1px;
        background: rgba(0,0,0,0.2);
        top: 50%;
        left: 0px;
    }

    &::after{
        position: absolute;
        content: "";
        width: 40%;
        height: 1px;
        background: rgba(0,0,0,0.2);
        top: 50%;
        right: 0px;
    }
    
    span{
        border: 2px groove rgba(0,0,0,0.3);
        border-radius: 1.3rem;
        padding: 0.5rem 0.7rem;
        display: inline-block;
        margin: auto;
        background: white;
    }
}

.box{
    width: 80%;
    max-width: 400px;
    padding: 1rem;
    margin: auto;
    border: 2px groove rgba(0,0,0,0.3);
    border-radius: 0.3rem;
    position: relative;
    background: white;

    // stylesheet for bottom shadow
    &::before{
        z-index: -1;
        display: block;
        position: absolute;
        bottom: 20px;
        content: "";
        width: 50%;
        height: 20px;
        transform: rotate(-10deg);
        box-shadow: 0px 10px 20px black;
        
    }

    &::after{
        z-index: -2;
        display: block;
        position: absolute;
        bottom: 25px;
        right: 10px;
        content: "";
        width: 50%;
        height: 20px;
        transform: rotate(10deg);
        box-shadow: 0px 20px 20px black;
    }
}

.items{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: column;
    border: 1px solid #dedfe0;
    padding: 0.5rem;
    background: #f2f3f4;
    border-radius: 0.4rem;
    margin: 1rem 0rem;

    .thumbnail{
        flex: 0 auto;
        img{
            min-width: 128px;
            max-width: 200px;  
        }
        
    }

    .title{
        padding-top: 0rem;
    }

    .authors{
        font-style: italic;
        font-size: $author-font-size;
    
        li{
            float: left;
            padding-left: 0.5rem;
    
            &::before{
                content: "/";
                padding-right: 0.5rem;
            }
    
            &:first-child{
                padding-left: 0px;
                &::before{
                    content: none;
                    padding: 0;
                }
            }
        }
    }

    .rating{
        font-size: 0.7rem;
        font-weight: $light;
    }

    .publisher{
        font-size: 0.9rem;
        font-weight: $light;
    }

    .item-details{
        flex: 0 auto;
        padding-left: 0.5rem;

        .description{
            font-weight: $light;
            font-size: 0.8rem;
        }

        .info{
            font-weight: $light;
            font-size: 0.8rem;
            margin-top: 0.5rem;
            
            li{
                margin: 0.5rem 0rem;
            }

            .group{
                span{
                    display: inline-block;
                    padding: 0.3rem 0.5rem;
                    background: $primary-color;
                    color: white;
                    margin-left: 0.3rem;
                    border: 1px solid rgba(0,0,0,0.2);
                    border-radius: 0.3rem;
                    margin-top: 0.3rem;
                }

                span:nth-of-type(1){
                    margin-left: 0rem;
                }
                
            }
        }
    }

    .controls{
        margin: 1rem 1rem 1rem 0rem;
        text-align: center; // for tablet and larger screen, value set to right in the responsive handler;
    
        .button{
            margin-left: 0.5rem;
    
            &:first-child{
                margin-left: 0rem;
            }
        }
    }
    
}

.list{
    border: 1px solid #dedfe0;
    .justify-contents{
        box-sizing: content-box;
        padding: 1rem 0.5rem;

        .delete{
            min-width: 2rem;
        }
    }
    .justify-contents:nth-child(even) {background: white}
    .justify-contents:nth-child(odd) {background: #eaeaea}
}